@import './hoverbutton';

[buttonbar] {
  input, a, button {
    background: $base01;
    border: none;
    color: $base2;
    padding: 0;
    margin: .5em;
    margin-right: 0;
    display: inline-block;
    white-space: nowrap;

    @include hoverbutton;

    &[type='button'] {
      padding: .5em;
    }

    img, span {
      padding: .5em;
    }

    img {
      height: 2em;
    }

    span {
      display: inline-block;
    }
  }
  button {
    padding: .5em;
  }
}