@mixin hoverbutton {
  position: relative;
  &::after {
    background: white;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }
  &:hover::after {
    opacity: .1;
  }
  &:active::after {
    background: black;
  }
}