@import '~normalize.css';
@import './colors';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}

body {
  color: $base2;
  a {
    color: $base2;
  }
  nav {
    background: $base02;
  }
  main {
    background: $base03;
  }
}

@import './nav';
@import './sections';
@import './cv';
@import './vm';
@import './dosbox';
@import './buttonbar';