@import './colors';
@import './hoverbutton';

body nav {
  padding: 1em;
  display: flex;
  flex-direction: column;

  [flex] {
    flex: 1;
  }

  ul {
    margin: 0;
    margin-bottom: 1em;

    &[links] {
      padding: 0;
      list-style: none;

      li {
        a {
          display: inline-block;
          text-decoration: none;
          padding: .2em;
        }
      }
    }

    &[buttons] {
      list-style: none;
      padding: 0;

      a {
        display: block;
        text-decoration: none;
        margin-bottom: 1em;

        li {
          padding: 1em;
          background: $base01;
          margin: 0;

          @include hoverbutton;
        }

        &[primary] {
          padding: 2px;
          font-size: 1.2em;
          background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
          li {
            background: $base01;
            background: #137317;
            padding: calc(1em - 3px);
          }
        }

        &[disabled] {
          pointer-events: none;
          li {
            background: black;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      height: 1em;
      width: 1em;
    }
  }

  p[noscript] {
    border: 1px dotted red;
    padding: 1em;
  }
}