body main section#section_v86,
#v86_controls {
  display: none;
}

body main section#section_v86 {
  #v86_controls {
    textarea {
      margin: .5em;
    }
  }
  #screen_container {
    background: black;
    float: left;

    #screen {
      white-space: pre;
      font-family: Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    }
  }
}